{% style %}

#shopify-section-{{ section.id }} .tab .tab-label, #shopify-section-{{ section.id }} .tab .tab-close {
 background:{{ section.settings.button_background_color }};
}
#shopify-section-{{ section.id }} .tab .tab-label:hover,#shopify-section-{{ section.id }} .tab .tab-close:hover, #shopify-section-{{ section.id }} input:checked + .tab-label {
}
{% endstyle %}
<div class="tabs">

{% for block in section.blocks %}
       {% case block.type %}
        {% when 'Faq' %}

   
      <div class="tab">
        <input type="checkbox" id="chck{{ forloop.index }}">
        <label class="tab-label" for="chck{{ forloop.index }}">{{ block.settings.title }}</label>
        <div class="tab-content">
          {{ block.settings.answer }}
        </div>
      </div>
     {% endcase %}
  {% endfor %} 
 </div>

{% schema %}
  {
    "name": "FAQ",
    "class": "section-faq",
    "settings": [
{
       "id": "button_background_color",
       "type": "color",
       "label": "Button Background Color",
       "default": "#2C3E50"
},
{
       "id": "color",
       "type": "color",
       "label": "Button Font Color",
       "default": "#FFFFFF"
}
],"blocks": [
    {
     "type": "Faq",
     "name": "Faq",
     "settings" : [
      {
        "id": "title",
        "type": "text",
        "label": "Question"
      },
      {
        "id": "answer",
        "type": "richtext",
        "label": "Answer"
      }
      ]
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
